.tiles {
    margin-top: 2%;
    padding: 0 5%
}
.row {
    display: flex;;
    justify-content: space-between;
    align-items: stretch;
}

.row:first-child {
    margin-bottom: 2%;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 546px;
    /* aspect-ratio: 546/600; */
    padding: max(2.5%, 35px);
    padding-bottom: 20px;
}

.boxCentered {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 546px;
    padding: max(2.5%, 35px);
    padding-bottom: 20px;
    
}

.image {
    width: calc(100% - 2% - 546px);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    background-position: center;
}

.text {
    position: relative;
    font-family: 'League Spartan', sans-serif;
    font-size: 35px;
    line-height: 130%;
    font-weight: 500;
    z-index: 1;
}

.textCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'League Spartan', sans-serif;
    font-size: 35px;
    line-height: 130%;
    font-weight: 500;
    z-index: 1;
    max-width: 240px;
}



.holder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@media (max-width: 1225px) {
    .tiles {
        margin-top: 25px;
    }
    .row:first-child {
        margin-bottom: 25px;
    }
    
  }




  @media (max-width: 1024px) {
    .row {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .image {
        width: 100%;
        min-height: 500px;
        height: auto;
        order:1
    }

    .box, .boxCentered {
        width: 100%;
        order: 2;
        margin-top: 25px;
        aspect-ratio: unset;
    }
    .boxCentered {
        min-height: 400px;
    }
    .text {
        margin-bottom: 50px
    }
    
  }



  @media (max-width: 550px) {
    .box {
        margin-top: 25px;
    }
    .tiles {
        margin-top: 25px;
    }
    .row:first-child {
        margin-bottom: 25px;
    }
    .text, .textCentered {
        font-size: 26px;
    }
  }


 