.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    transition: .3s;
}

.arrow {
    display: block;
}

.text {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    color: #1D1D1B;
    line-height: 130%;
    font-weight: 500;
    margin-left: 15px
}

.link:hover .circle {
    background-color: lightgray;
}
