.home {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(230, 204, 202);
    transition: .05s;
}

.inner {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 6%
}


@media (max-width: 850px) {
    .inner {
        padding-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

