.logo {
    position: relative;
    box-sizing: content-box;
    border-right: 70px solid white;
    border-left: 70px solid white;
    border-top: 30px solid white;
    border-bottom: 20px solid white;
    border-bottom-left-radius:90px;
    border-bottom-right-radius: 90px;
    left: 5%;
    top: 0;
    width: 210px;
    height: 81px;
    background-color: white;
    transition: .2s;
    z-index: 10;
    cursor: pointer;
    transform-origin: top left;
    transform: scale(0.75);

    
}

.logoDown {
    position: relative;
    box-sizing: content-box;
    border-right: 70px solid white;
    border-left: 70px solid white;
    border-top: 30px solid white;
    border-bottom: 20px solid white;
    border-bottom-left-radius:90px;
    border-bottom-right-radius: 90px;
    left: 5%;
    top: 0;
    width: 60px;
    height: 45px;
    background-color: white;
    z-index: 10;
    transition: .1s;
    transition-delay: .4s;
    cursor: pointer;
    transform-origin: top left;
    transform: scale(0.75);


}

.joy {
    position: absolute;
    width: 60px;
    top: 0;
    left: 0;
    opacity:1;
    transition: .2s;

}

.joyDown {
    position: absolute;
    width: 60px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .2s;
    transition-delay: .1s;

}
.preschool {
    position: absolute;
    width: 150px;
    top: 41px;
    left: 60px;
    opacity: 1;
    transition: .2s;
}

.preschoolDown {
    position: absolute;
    width: 150px;
    top: 41px;
    left: 60px;
    opacity: 0;
    transition: .2s;
    transition-delay: .1s;
}

.circle {
    position: absolute;
    width: 20px;
    top: 10px;
    left: 65px;
    transition: .2s;
}

.circleDown {
    position: absolute;
    width: 20px;
    top: 13px;
    left: 37px;
    transition: .1s;
    transition-delay: .4s;
}


.triangle {
    position: absolute;
    width: 24px;
    left: 37px;
    top:-15px;
    transition: .2s;
}

.triangleDown {
    position: absolute;
    width: 24px;
    left: 15px;
    top:-7px;
    transition: .1s;
    transition-delay: .4s;
}

.arc {
    position: absolute;
    width: 24px;
    top: 41px;
    left: 18px;
    transition: .2s;
}

.arcDown {
    position: absolute;
    width: 24px;
    top: 5px;
    left: -2px;
    transition: .1s;
    transition-delay: .4s;
}



@media (max-width: 1000px) {
    .logo, .logoDown {
        transform: scale(0.65);
        left: 3%
    }
    .logoDown{
        left: 5%;
    }
     
  }

  @media (max-width: 550px) {
    .logo {
        transform: scale(0.55);

    }
     
  }


