.article {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2%;
}

.img {
    position: relative;
    /* width: calc(100% - 550px - 2% ); */
    width: 66%;
    /* height: 850px; */
    /* aspect-ratio: 550 / 750; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1.5s;

}

.text {
    position: relative;
    /* width: 550px; */
    width: 32%;
    padding: max(2.5%, 35px);
    order: 2;
    
}

.header {
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
    color: #1D1D1B;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 30px
}

.paragraph {
    font-family: 'League Spartan', sans-serif;
    color: #1D1D1B;
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 120%;
    font-weight: 400;
    

}

.accent_img {
    position: absolute;
    transform: scale(1.15);
    
}
@media (max-width: 1919px) {
    .paragraph {
        font-size: 14px;
    }
    .header {
        font-size: 22px;
        margin-bottom: 15px;
    }
}

@media (max-width: 1350px) {
   .article {
    flex-wrap: wrap;
    margin-top: 25px;
   }
   .img {
    width: 100%;
    height: auto;
    aspect-ratio: 363/483;
    order: 2;
    background-position: 25% 50%;
   }
   .text {
    width: 100%;
    order: 1;
    padding-bottom:  150px;
    margin-bottom: 25px;
   }
   .paragraph {
    font-size: 19px;
}
.header {
    font-size: 25px;
    margin-bottom: 30px;
}
}

@media (max-width: 650px) {
    .img {
        height: 500px;
    }
 }

 @media (max-width: 550px) {
    .article {
        margin-top: 25px;
    }
    .text {
        margin-bottom: 25px;
    }
 }