.holder {
    
    padding: 0 5%;
    margin-top: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2%
}



@media (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
        margin-top: 25px;
        gap: 25px;
        margin-bottom: 25px;
    }
  }

  @media (max-width: 550px) {
    .holder {
        margin-top: 25px
    }
    .row {
        gap: 25px
    }
  }