.image {
    display: block;
    height: 600px;
    width: calc(100% - 2 * 45px - 2 * 546px);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


@media (max-width: 1000px) {
    .image {
        display: none;
    }
  }