.header {
    position: relative;
    aspect-ratio: 1920/715;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    height: 100%;
}

.box {
    position: absolute;
    padding: 20px 30px;
    max-width: 270px;
}

.text {
    color: #1D1D1B;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
}


@media (max-width: 1024px) {
    .text {
        font-size: 28px;
    }
}

@media (max-width: 800px) {
    .header {
        aspect-ratio: 1/1;
    }

    .box {
        padding: 15px 30px;
        max-width: 325px;
    }
}


@media (max-width: 500px) {
    .text {
        font-size: 25px;
    }

    .box {
        padding: 15px 35px;
        max-width: 250px;
    }
}

