.header {
    position: relative;
    height: 715px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box {
    position: absolute;
    padding: 30px 40px
}

.text {
    color: black;
    font-size: 38px;
    font-weight: 500
}