* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  color: #1D1D1B;

}

.app {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}



