.image {
    display: block;
    width: 66%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}

@media (max-width: 1350px) {
    .image {
        width: calc(100% - 546px - 2%);
    }
  }


@media (max-width: 1000px) {
    .image {
        display: none;
    }
  }