.tile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 32%;
    padding: max(2.5%, 35px);
    aspect-ratio: 1/1;
}

.text {
    position: relative;
    font-family: 'League Spartan', sans-serif;
    font-size: 19px;
    color: #1D1D1B;
    line-height: 130%;
    font-weight: 400;
    z-index: 2;
}

.babycare-wheat {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.babycare-vege {
    position: absolute;
    top:5%;
	left:42%;
}
.babycare-apple {
    position: absolute;
    left:40px;
	top: 30%;
}

.preschool-wheat {
    position: absolute;
    bottom: 7%;
    right: 10%;

}

.preschool-vege {
    position: absolute;
    top:2%;
	left:42%;

}
.preschool-apple {
    position: absolute;
    left:45%;
	bottom: 10%;

}

@media (max-width: 1600px) {
    .babycare-vege {
        transform: scale(0.85);
        top: 1%
    }
    .babycare-apple{
        top: 30%
    }
    .babycare-wheat {
        transform: scale(0.85);
        bottom: 3%;
    right: 3%;
    }
    .preschool-wheat {
        transform: scale(0.7);
        bottom: -5%;
        right: 10%;
    }
    .preschool-vege {
        transform: scale(0.8);
        top: 0
    }
    .preschool-apple {
        transform: scale(0.8);
        bottom: 5%;
    }
  }

  @media (max-width: 1350px) {
    .tile {
        width: 380px;
    }
  }





  @media (max-width: 500px) {
    .text {
        font-size: 16px;
    }

    .babycare-wheat {
        transform: scale(0.7);
        bottom: 1%;
        right: 1%;
    }
    .babycare-vege {
        top: initial;
        left: initial;
        bottom: 1%;
        right: 1%;
        transform: scale(0.7);
    }

    .babycare-apple{
        top: 7%;
        left: 75%;
        transform: scale(0.8);
    }

    .preschool-wheat {
        bottom: initial;
        top: -12%;
        right: 33%;
        transform: scale(0.65);
    }
    
    .preschool-vege {
        top:-5%;
        left:42%;
        transform: scale(0.8);
    }
    .preschool-apple {
        left:40%;
        bottom: 5%;
        transform: scale(0.8);
    }

 
  } 


